*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s;
}
:root
{
  --pink-clr: #FF7979;
  --green-clr: #38CC8B;
  --purple-clr: #5E54A4;
  --dark-clr: #3D3B48;
  --white-clr: #fff;
  --black-clr: #000;
}
body
{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--pink-clr);
}
main
{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-block-section
{
  width: 50%;
}
.text-block-section h1
{
  color: var(--white-clr);
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 12px;
}
.text-block-section p
{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--white-clr);
}
.form-section
{
  width: 50%;
}
.form-section form
{
  width: fit-content;
  background-color: var(--white-clr);
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 8px 0 0 #0000001e;
}
.form-section button
{
  background-color: var(--green-clr);
  color: var(--white-clr);
  width: 100%;
  height: 56px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  display: block;
}
.form-section button:hover
{
  background-color: #77E2B3;
  box-shadow: 0 -4px 0 0 #00000013;
}
.form-section form .input-box
{
  width: 100%;
  position: relative;
}
.form-section form .input-box input
{
  width: 100%;
  border: 1px solid #DEDEDE;
  height: 56px;
  padding-left: 32px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
  border-radius: 6px;
  color: #3D3B48;
}
.form-section form .input-box input:focus
{
  border: 1px solid var(--purple-clr);
}
.form-section .terms
{
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  padding: 0 80px;
}
.form-section p span:nth-child(1)
{
  color: #BAB7D4;
}
.form-section p span:nth-child(2)
{
  color: var(--pink-clr);
}
.form-section .fa-solid
{
  position: absolute;
  right: 28px;
  top: 16px;
  font-size: 24px;
  color: var(--pink-clr);
}
.form-section form .input-box input.invalid
{
  border: 1px solid red;
}
.error-message
{
  color: red;
  position: absolute;
  top: -20px;
  right: 0;
}